div {
    display: block;
    unicode-bidi: isolate;
}
.herobanner {
    background: blue url(../images/spacex_rocket2.jpg) no-repeat scroll;
    background-size: cover;
    height: 800px;
}
.herobanner a, .herobanner a:link .herobanner a:visited .herobanner a:hover .herobanner a:active, #footer a, #footer a:link #footer a:visited #footer a:hover #footer a:active {
    color:#fff
}

#page_heading{
    position: absolute;
    left: 50%;
    bottom: 50%;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
    max-width: 600px;
    color: white;
    z-index: 1;
    font: 50px 'Oswald', sans-serif;
    line-height: 55px;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
}

.littleheroes {
    margin: 40px 0 40px 0;
    display: flex;
    display: inline-block;
    vertical-align: middle;
}
.littleheroes .col-lg-6 { 
    flex:  0 0 auto;

    align-items: center;
}

.littleheroes input[type="text"], .littleheroes input[type="email"], .littleheroes textarea {
    display: block;
    width: 100%;
    margin: 8px 8px 8px 0;
}
.littleheroes h2 {
    font: 24px 'Oswald', sans-serif, bold;
    text-transform: uppercase;

}
.littleheroes .img-fluid {
    width:100%; height:auto;
}
.card-img-top.rounded-circle {
    border-radius: 50% !important;
    text-align: center;
    max-width: 100px;
    margin: 0 auto 15px auto;
}

#headerlinks{
    /*position: relative;*/
    float: right;
    color: #fff;
    line-height: 20px;
    margin: 10px 15px 0 15px;
    font-weight: bold;
}
#footer { background: #000;
    padding: 10px
}

#footerlinks{
    color: #fff;
    line-height: 20px;
    margin: 10px 15px 0 15px;
}
#homelink {
    float: left;
    margin: 10px 0 0 15px;    
    font-weight: bold;
}